@tailwind base;
@layer base {
  h1 {
    @apply text-2xl py-5;
  }
  h2 {
    @apply text-xl py-4;
  }
  h3 {
    @apply text-xl py-3;
  }
  h4 {
    @apply text-xl py-3 font-[500];
  }
  h5 {
    @apply text-xl py-2;
  }
}
@tailwind components;
@tailwind utilities;


.hero-bg {
  background-image: radial-gradient(#1c1fff 1px, transparent 1.5px);
  background-size: 25px 25px;
  background-color: #4dc0fa;
}

pre {
  background-color: rgb(44, 44, 44);
  padding: 25px;
  border-radius: 20px;
  overflow-x: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
}

strong {
  margin-top: 10px;
}

div > ul, div > ol {
  margin-top: 10px;
  margin-bottom: 10px;
}

div > ul > li, div > ol > li {
  list-style: decimal;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
